::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Ubuntu, Arial, sans-serif;
		color: #4F5155;
		min-width: 800px;
	}

	a {
		background-color: transparent;
		font-weight: normal;
		color: #4F5155;	
		text-decoration: none;
	}

	h1, h2 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
		text-transform: uppercase;
	}
	

	h2 {
		font-size: 12px;
		clear: both;
		float: left;
		min-width: 200px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}
	
	#top_navigation h1 {
		font-size: 22px;
		margin: 5px 0px 5px 0px;
		color: grey;
		border: none;
	}
	
	#top_navigation img {
		float: left;
		margin: 0px;
		padding: 0px 5px 0px 0px;
		border: 0px;
		height: 20px;
	}
	
	input, select, button, .button-link {
		border: 1px solid #D0D0D0;
		padding: 5px;
		font-size: 16px;
		background: white;
		margin: 2px;
		color: #4F5155;
		text-decoration: none;
	}
	
	.button-link {
		cursor:default;
	}
	select {
		font-size: 15px;
	}

	button {
		font-size: 10px;
		padding: 1px;
		border: none;
	}
	
	.row-header {
		margin: 20px;
	}
	
	.row {
		width: 100%;
		float: left;
		margin-left: 20px;
	}
	table {
		border-spacing:0px 2px;
	}
	
	
	table .col-ext {
		text-align: center;
		width: 100px;
	}
	
	table .col-loc {
		width: 100px;
		text-align: center;
	}
	
	table .col-date {
		width: 200px;
		text-align: center;
	}

	table .col-size {
		width: 100px;
		text-align: right;
	}

	fieldset {
		border: 1px solid silver;
		min-height: 45px;
	}
	.pref_category {
		float: left;
		width: 165px;
	}
	
	#settings-menu {
		clear: both;	
	}
	
	.settings-menu a {
		margin-left: 20px;
		text-decoration: none;
		color: gray;
	}
	
	p.admin-list a {
		border-left: 6px solid silver;
		padding-left: 3px;
		text-decoration: none;
		color: gray;
	}
	
	.menu-button input {
		width: 200px;
	}
	
	.host_offline, .host_offline a {
    	color: silver;
	}
	
	tr.par {
		background: #edeceb;
	}
	
	#login_area {
		float: right;
		margin-top: -48px;
	}
	
	#login_area input {
		padding: 2px;
		font-size: 10px;
	}